<jhi-alert-error></jhi-alert-error>

<div class="form-inline">
    <textarea [(ngModel)]="newComment.text" placeholder="Write a comment or ask a question..."
          rows="3" cols="73" class="form-control custom-control"></textarea>

    <button class="btn btn-primary" (click)="send()"
            [disabled]="isSaving || newComment.text.length == 0">
        <i class="fa fa-comment"></i>
        Send
    </button>
</div>


<hr>

<div *ngFor="let comment of comments" class="panel">
    <div class="col-md-12">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">
                    {{ comment?.adoptMeUser?.firstName }}
                    {{ comment?.adoptMeUser?.lastName }}
                </h4>
                <small><i class="fa fa-clock-o"></i> {{ comment?.date | date:'dd/MM/yy HH:mm' }} </small>
                <hr>
                <p>
                    <i class="fa fa-comment-o"></i>
                    {{ comment?.text }}
                </p>
            </div>
        </div>
    </div>
</div>
